[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/gezgingun
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gezgingun
	label-Verified = -1..+1 group user/gezgingun
	push = group user/gezgingun
	read = group user/gezgingun
	rebase = group user/gezgingun
	removeReviewer = group user/gezgingun
	submit = group user/gezgingun
[access "refs/heads/*"]
	create = group user/gezgingun
	push = +force group user/gezgingun
	pushMerge = group user/gezgingun
	read = group user/gezgingun
[access "refs/tags/*"]
	push = group user/gezgingun
	push = +force group user/gezgingun
